{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}
{% block nav_brand %}

<a href="{% url 'trial_feeds' %}" class="navbar-brand">
    <img class="brand" src="{% static 'img/finance101.png' %}">
</a>

{% endblock %}

{% block nav %}
<div class="row navbar-right col-sm-4">
    <ul class="navbar-nav nav">
        <li><a href="{% url 'trial_feeds' %}">Home</a></li>
        <li><a href="{% url 'trial_profile' %}">Profile</a></li>
        <li><a href="{% url 'trial_messages' %}">Messages</a></li>
        <li><a href="#">Notifications</a></li>
        <li class="active"><a href="{% url 'trial_feeds' %}">Feeds</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div class="margin-bottom-nav">
    <div class="container" id="maintain-row">
        <!--<div class="col-sm-6">-->
            <!---->
        <!--</div>-->
        <div id="panel-wide">
            <div class="make-panel-wide col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <p class="panel-body" id="feed-user-image">
                        {% for feed in feeds %}
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="media">
                                    <div class="image-sizer">
                                        <a href="#" class=""><img src="{% static 'img/finance101.png' %}" alt="" class=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="media-body">
                                    <span class=""><b><a href="#"> {{ feed.user }}</a></b></span>
                                    <p class="">
                                        {{ feed.posts }}
                                    </p>
                                    <span class=""><b> {{ feed.timestamp|timesince }}</b></span>
                                    <div class="accordion" id="schedule">
                                        <!-- Comment ------------------------>
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#{{ feed.feeds_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#schedule">
                                                    <span class="glyphicon glyphicon-comment"></span> Comment
                                                </a>
                                            </div><!-- accordion heading -->
                                        </div><!-- accordion-group -->

                                        <div id="{{ feed.feeds_id }}" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <p>Some text here. hehe, just copied it</p>
                                                <p>{{ feed.posts }}</p>
                                            </div><!-- accordion-inner -->
                                        </div><!-- comment -->
                                    </div><!-- accordion -->
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">-->
                            <!--<div class="col-sm-4 col-sm-offset-2">-->

                            <!--</div>-->
                            <!--<div class="col-sm-offset ">-->
                                <!--<a href="#"><span class="glyphicon glyphicon-inbox"></span> Message</a>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; row &ndash;&gt;-->
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script >
    var window_width = $(window).width();
    if (window_width <= 1543) {
        $('#navbar-container .navbar-right').removeClass('col-sm-4');
        $('#navbar-container .navbar-right').addClass('col-sm-8');
    }
    if (window_width <= 882){
        $('#navbar-container .navbar-right').removeClass('col-sm-8');
        $('#navbar-container .navbar-right').addClass('col-sm-11');
	}
	if (window_width <= 1200) {
	    $('#panel-wide .make-panel-wide').removeClass('col-sm-6');
	    $('#panel-wide .make-panel-wide').removeClass('col-sm-offset-3');
        $('#panel-wide .make-panel-wide').addClass('col-sm-10');
        $('#panel-wide .make-panel-wide').addClass('col-sm-offset-1');
	}
</script>
{% endblock %}