{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}
{% block nav_brand %}

<a href="{% url 'trial_feeds' %}" class="navbar-brand">
    <img class="brand" src="{% static 'img/finance101.png' %}">
</a>

{% endblock %}

{% block nav %}
<div class="row navbar-right col-sm-5">
    <ul class="navbar-nav nav">
        <li><a href="{% url 'trial_feeds' %}">Home</a></li>
        <li><a href="{% url 'trial_profile' %}">Profile</a></li>
        <li><a href="{% url 'trial_messages' %}">Messages</a></li>
        <li>
            <a href="#" data-toggle="popover" data-placement="bottom" data-trigger="click" title="Notifications"  data-content="Your Notifications here" id="notifications">Notifications</a>
        </li>
        <li class="active"><a href="{% url 'trial_feeds' %}">Feeds</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block body %}


{% if user.is_authenticated %}
<div class="margin-bottom-nav">
    <div class="container" id="maintain-row">
        <!--<div class="col-sm-6">-->
            <!---->
        <!--</div>-->
        <div id="panel-wide">
            <div class="make-panel-wide col-sm-5 col-sm-offset-3">
                <form action="{% url 'trial_post_feeds' %}" method="POST" role="form" id="feeds-form" class="form-horizontal">
                    {% csrf_token %}
                    {{ forms.non_field_errors }}
                    <div class="form-group">
                        {{ forms.posts }}
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-small">Post</button>
                    </div>
                </form>
                <br><br><br>
                <div class="panel panel-default">
                    <p class="panel-body" id="feed-user-image">
                        {% for feed in feeds %}
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="media">
                                    <div class="image-sizer">
                                        <a href="#" class=""><img src="{% static 'img/finance101.png' %}" alt="" class=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="media-body">
                                    <span class=""><b><a href="#"> {{ feed.user }}</a></b></span>
                                    <p class="">
                                        {{ feed.posts }}
                                    </p>
                                    <span class=""><b> {{ feed.created|timesince }}</b></span>
                                    <div class="accordion" id="schedule">
                                        <!-- Comment ------------------------>
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#{{ feed.feeds_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#schedule">
                                                    <span class="glyphicon glyphicon-comment"></span> Comment
                                                </a>
                                            </div><!-- accordion heading -->
                                        </div><!-- accordion-group -->

                                        <div id="{{ feed.feeds_id }}" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <form action="{% url 'trial_feeds' %}" method="POST" role="form" id="comments-form" class="form-horizontal">
                                                    {% csrf_token %}
                                                    {{ comments_form.non_field_errors }}
                                                    <input type="hidden" name="feed_pk" value="{{ feed.pk }}">
                                                    <div class="form-group">
                                                        {{ comments_form.comment }}
                                                    </div>
                                                    <div class="pull-right">
                                                        <button type="submit" class="btn btn-primary btn-small">Comment</button>
                                                    </div>
                                                </form>
                                                {% for comment in comments %}
                                                <span class=""><b><a href="#"> {{ comment.feed }}</a></b></span>
                                                <p class="">
                                                    {{ comment.comment }}
                                                </p>
                                                <span class=""><b> {{ comment.created|timesince }}</b></span>
                                                {% endfor %}
                                                <!--<p>Some text here. hehe, just copied it</p>-->
                                                <!--<p>{{ feed.posts }}</p>-->
                                            </div><!-- accordion-inner -->
                                        </div><!-- comment -->
                                    </div><!-- accordion -->
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}