{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}
{% block nav_brand %}

<a href="{% url 'trial_feeds' %}" class="navbar-brand">
    <img class="brand" src="{% static 'img/finance101.png' %}">
</a>

{% endblock %}

{% block nav %}
<div class="row navbar-right col-sm-5">
    <ul class="navbar-nav nav">
        <li><a href="{% url 'trial_feeds' %}">Home</a></li>
        <li><a href="{% url 'trial_profile' %}">Profile</a></li>
        <li><a href="{% url 'trial_messages' %}">Messages</a></li>
        <li>
            <a href="#" data-toggle="popover" data-placement="bottom" data-trigger="click" title="Notifications"
               data-content="Your Notifications here" id="notifications">Notifications</a>
        </li>
        <li class="active"><a href="{% url 'trial_feeds' %}">Feeds</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block body %}


{% if user.is_authenticated %}
<div class="margin-bottom-nav">
    <div class="container" id="maintain-row">
        <!--<div class="col-sm-6">-->
            <!---->
        <!--</div>-->
        <div id="panel-wide">
            <div class="make-panel-wide col-sm-5 col-sm-offset-3">
                <form action="{% url 'trial_post_feeds' %}" method="POST" role="form" id="feeds-form" class="form-horizontal">
                    {% csrf_token %}
                    {{ forms.non_field_errors }}
                    <div class="form-group">
                        {{ forms.posts }}
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-small">Post</button>
                    </div>
                </form>
                <br><br><br>
                <div class="panel panel-default">
                    <p class="panel-body" id="feed-user-image">
                        {% for feed, comments in feeds %}
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="media">
                                    <div class="image-sizer">
                                        <a href="#" class=""><img src="{% static 'img/finance101.png' %}" alt="" class=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="media-body">
                                    <span class=""><b><a href="#"> {{ feed.user }}</a></b></span>
                                    <p class="">
                                        {{ feed.posts }}
                                    </p>
                                    <span class=""><b> {{ feed.created|timesince }}</b></span>
                                    {% include 'feeds/save_comments.html' with feed=feed comments=comments %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}