<div class="accordion" id="schedule">
    <!-- Comment ------------------------>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#{{ feed.feeds_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#schedule">
                <span class="glyphicon glyphicon-comment"></span> Comment
            </a>
        </div><!-- accordion heading -->
    </div><!-- accordion-group -->

    <div id="{{ feed.feeds_id }}" class="accordion-body collapse">
        <div class="accordion-inner">
            {% for comment in comments %}
                <p class="">
                    {{ comment.comment }}
                </p>
                <span class=""><b> {{ comment.created|timesince }}</b></span>
            {% endfor %}
            <form action="{% url 'save_new_comments' %}" method="POST" role="form" id="comments-form" class="form-horizontal">
                {% csrf_token %}
                {{ comments_form.non_field_errors }}
                <input type="hidden" name="feed_pk" value="{{ feed.pk }}">
                <div class="form-group">
                    {{ comments_form.comment }}
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-small">Comment</button>
                </div>
            </form>

            <!--<p>Some text here. hehe, just copied it</p>-->
            <!--<p>{{ feed.posts }}</p>-->
        </div><!-- accordion-inner -->
    </div><!-- comment -->
</div><!-- accordion -->
