{% extends 'Trial_app/base.html' %}

{% load staticfiles %}

{% block title %}'User name'{% endblock %}

{% block nav %}
<div class="row navbar-right col-sm-4">
    <ul class="navbar-nav nav">
        <li><a href="{% url 'trial_home' %}">Home</a></li>
        <li><a href="{% url 'trial_profile' %}">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Notifications</a></li>
        <li class="active"><a href="{% url 'trial_feeds' %}">Feeds</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>
{% endblock %}

{% block body %}

<div class="margin-bottom-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/finance101.png' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media-body">
                    <h4 class="media-heading">Jay M. Bootstrap - <em>September 1, 2014</em></h4>
                    <p>
                        I love your finance blog!  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div><hr>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/washington.jpg' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="media-body">
                    <h4 class="media-heading">Maria C. Twitter  - <em>September 15, 2014</em></h4>
                    <p>
                        I agree with Jay.  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/finance101.png' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media-body">
                    <h4>Jay M. Bootstrap - <em>September 1, 2014</em></h4>
                    <p>
                        I love your finance blog!  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div><hr>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/washington.jpg' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="media-body">
                    <h4 class="media-heading">Maria C. Twitter  - <em>September 15, 2014</em></h4>
                    <p>
                        I agree with Jay.  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/finance101.png' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media-body">
                    <h4>Jay M. Bootstrap - <em>September 1, 2014</em></h4>
                    <p>
                        I love your finance blog!  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div><hr>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/washington.jpg' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="media-body">
                    <h4 class="media-heading">Maria C. Twitter  - <em>September 15, 2014</em></h4>
                    <p>
                        I agree with Jay.  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/finance101.png' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media-body">
                    <h4>Jay M. Bootstrap - <em>September 1, 2014</em></h4>
                    <p>
                        I love your finance blog!  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div><hr>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/washington.jpg' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="media-body">
                    <h4 class="media-heading">Maria C. Twitter  - <em>September 15, 2014</em></h4>
                    <p>
                        I agree with Jay.  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/finance101.png' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="media-body">
                    <h4>Jay M. Bootstrap - <em>September 1, 2014</em></h4>
                    <p>
                        I love your finance blog!  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div><hr>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <div class="media">
                    <a href="#" class="thumbnail pull-left"><img src="{% static 'img/washington.jpg' %}" alt="" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="media-body">
                    <h4 class="media-heading">Maria C. Twitter  - <em>September 15, 2014</em></h4>
                    <p>
                        I agree with Jay.  It has everything I ever wanted to know about finance and then some.  Please keep
                        distributing this valuable information to the general public. These comment fields can go on and on or you
                        can use CSS to limit the amount of comments that are displayed.
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script >
    var window_width = $(window).width();
    if (window_width <= 1543) {
        $('#navbar-container .navbar-right').removeClass('col-sm-4');
        $('#navbar-container .navbar-right').addClass('col-sm-8');
    }
    if (window_width <= 882){
        $('#navbar-container .navbar-right').removeClass('col-sm-8');
        $('#navbar-container .navbar-right').addClass('col-sm-11');
	}
</script>
{% endblock %}