{% extends 'Trial_app/base.html' %}

{% load staticfiles %}

{% block title %}Sign up{% endblock %}

 {% block nav %}
	<div class="row navbar-right col-sm-4">
		<ul class="navbar-nav nav">
			<li><a href="{% url 'trial_home' %}">Home</a></li>
			<li class="active"><a href="{% url 'trial_signup' %}">Register</a></li>
			<li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="#">Blog</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}

<!--<div class="container">-->
    <!--<div class="maximum-width col-md-offset-2 margin-top-120 col-md-8">-->
        <!--<div class="page-header">-->
            <!--<span class="h2">Sign up Here</span>-->
        <!--</div>-->
        <!--<form class="form-horizontal" method="POST" action="{% url 'trial_home' %}" role="form">-->
            <!--{% csrf_token %}-->
            <!--{{ form.non_field_errors }}-->
            <!--<div class="form-group">-->
                <!--{{ form.first_name.errors }}-->
                <!--<label for={{ form.first_name.id_for_label }} class="control-label col-md-2">{{ form.first_name.label }}</label>-->
                <!--<div class="col-md-5">-->
                    <!--{{ form.first_name }}-->
                <!--</div>-->
                <!--<div class="col-md-5" id="padding-top">-->
                    <!--{{ form.last_name }}-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--{{ form.username.errors }}-->
                <!--<label for={{ form.username.id_for_label }} class="control-label col-md-2">{{ form.username.label }}</label>-->
                <!--<div class="col-md-10">-->
                    <!--{{ form.username }}-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--{{ form.email.errors }}-->
                <!--<label for={{ form.email.id_for_label }} class="control-label col-md-2">{{ form.email.label }}</label>-->
                <!--<div class="col-md-10">-->
                    <!--{{ form.email }}-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--{{ form.password.errors }}-->
                <!--<label for={{ form.password.id_for_label }} class="col-md-2 control-label">{{ form.password.label }}</label>-->
                <!--<div class="col-md-10">-->
                    <!--{{ form.password }}-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--{{ form.password2.errors }}-->
                <!--<label for={{ form.password2.id_for_label }} class="col-md-2 control-label">{{ form.password2.label }}</label>-->
                <!--<div class="col-md-10">-->
                    <!--{{ form.password2 }}-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-offset-2">-->
                <!--<button type="submit" class="btn btn-primary btn-block">Sign up</button>-->
            <!--</div>-->
        <!--</form>-->
     <!--</div>-->
<!--</div>-->

<div class="background-image">
<div class="container auto_animate">
	<div class="maximum-width col-md-offset-2 margin-top-120 col-md-8">
		<div class="page-header" id="gallery">
			<h2> Register.<small>Sign up here.</small></h2>
		</div>
		<form class="form-horizontal" method="POST" role="form" id="registration-form">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group">
				<label for={{ form.first_name.id_for_label }} class="control-label col-md-2">Name </label>
				<div class="col-md-5">
					{{ form.first_name }}
				</div>
				{{ form.first_name.errors }}
				<div class="col-md-5" id="padding-top">
					{{ form.last_name }}
				</div>
				{{ form.last_name.errors }}
			</div>
			<div class="form-group">
				<label for={{ form.username.id_for_label }} class="control-label col-md-2">{{ form.username.label }}</label>
				<div class="col-md-10">
					{{ form.username }}
				</div>
				{{ form.username.errors }}
			</div>
			<div class="form-group">
				<label for={{ form.email.id_for_label }} class="control-label col-md-2">{{ form.email.label }}</label>
				<div class="col-md-10">
					{{ form.email }}
				</div>
                {{ form.email.errors }}
			</div>
			<div class="form-group">
				<label for={{ form.password.id_for_label }} class="control-label col-md-2">{{ form.password.label }}</label>
				<div class="col-md-10">
					{{ form.password }}
				</div>
                {{ form.password.errors }}
			</div>
			<div class="form-group">
				<label for={{ form.confirmpassword.id_for_label }} class="control-label col-md-2">{{ form.confirmpassword.label }}</label>
				<div class="col-md-10">
					{{ form.confirmpassword }}
				</div>
                {{ form.password2.errors }}
			</div>
			<div class="col-md-offset-2">
				<button type="submit" class="btn btn-primary btn-block">Sign up</button>
			</div>
		</form>
        <div id="confirmation" class="alert alert-info hidden">
            <span class="glyphicon glyphicon-star"></span> Thank you for registering
        </div>
	</div>
</div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(document).ready(function(){
       var window_width = $(window).width();
        if (window_width <= 1233) {
            $('#navbar-container .navbar-right').removeClass('col-sm-4');
            $('#navbar-container .navbar-right').addClass('col-sm-7');
        }
        if (window_width <= 987){
            $('#navbar-container .navbar-right').removeClass('col-sm-7');
            $('#navbar-container .navbar-right').addClass('col-sm-8');
        }

        var validator = $("#registration-form").bootstrapValidator({
            feedbackIcons : {
                valid : "glyphicon glyphicon-ok",
                invalid : "glyphicon glyphicon-remove",
                validating : "glyphicon glyphicon-refresh",
            },
            fields : {
                email : {
                    message : "Email address is required",
                    validators : {
                        notEmpty : {
                            message : "Please provide an email address"
                        },
                        stringLength : {
                            min : 6,
                            max : 35,
                            message : "Email address must be between 6 amd 35 character",
                        },
                        emailAddress: {
                            message : "Email address was invalid"
                        }
                    }
                },
                password : {
                    validators: {
                        notEmpty : {
                            message : "Password is required"
                        },
                        stringLength : {
                            min : 8,
                            message : "Password must be 8 characters long"
                        },
                        different : {
                            field : "email",
                            message : "Email address and password can not be similar"
                        }
                    }
                },
                confirmpassword : {
                    validators : {
                        notEmpty : {
                            message : "Confirm password field is required"
                        },
                        identical : {
                            field : "password",
                            message : "Password and confirmation must match"
                        }
                    }
                }
            }
        });

        validator.on("success.form.bv", function(e){
            e.preventDefault();
            $("#registration-form").addClass("hidden");
            $("#confirmation").removeClass("hidden");
            // window.location.href = "{% url 'trial_feeds' %}"; // simulates clicking of a link
            // window.location.replace("{% url 'trial_home' %}"); // simulates a normal http redirect
        });
    });
</script>

{% endblock %}