{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Messages{% endblock %}

{% block nav_brand %}

<a href="{% url 'trial_feeds' %}" class="navbar-brand">
    <img class="brand" src="{% static 'img/finance101.png' %}">
</a>

{% endblock %}

{% block nav %}

<div class="row navbar-right col-sm-4">
    <ul class="navbar-nav nav">
        <li><a href="{% url 'trial_feeds' %}">Home</a></li>
        <li><a href="{% url 'trial_profile' %}">Profile</a></li>
        <li class="active"><a href="{% url 'trial_messages' %}">Messages</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="{% url 'trial_feeds' %}">Feeds</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>

{% endblock %}

{% block body %}

<div class="container margin-bottom-nav">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 msg-responsive-right">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
            	</div>
                <div class="testimonial-desc">
                    <img src="{% static 'img/finance101.png' %}" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6 msg-responsive msg-responsive-left">
            <div id="tb-testimonial" class="testimonial testimonial-info">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
            	</div>
                <div class="testimonial-desc">
                    <img src="{% static 'img/washington.jpg' %}" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 msg-responsive msg-responsive-right">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
            	</div>
                <div class="testimonial-desc">
                    <img src="{% static 'img/finance101.png' %}" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-4 col-md-offset-6 col-sm-4 col-sm-offset-6 msg-responsive msg-responsive-left">
            <div id="tb-testimonial" class="testimonial testimonial-info">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
            	</div>
                <div class="testimonial-desc">
                    <img src="{% static 'img/washington.jpg' %}" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 msg-responsive msg-responsive-right">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
            	</div>
                <div class="testimonial-desc">
                    <img src="{% static 'img/finance101.png' %}" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Zahed Kamal</div>
                    	<div class="testimonial-writer-designation">Front End Developer</div>
                    	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

    <br/>

{% endblock %}

{% block javascript %}

<script >
$(document).ready(function(){
   var window_width = $(window).width();
    if (window_width <= 1543) {
        $('#navbar-container .navbar-right').removeClass('col-sm-4');
        $('#navbar-container .navbar-right').addClass('col-sm-8');
    }
    if (window_width <= 882){
        $('#navbar-container .navbar-right').removeClass('col-sm-8');
        $('#navbar-container .navbar-right').addClass('col-sm-11');
	}
	if (window_width <= 768){
        $('#msg-responsive-left').removeClass('testimonial-section');
        $('#msg-responsive-right').removeClass('testimonial-section');

        $('.msg-responsive-left').addClass('responsive-msg-left');
        $('.msg-responsive-right').addClass('responsive-msg-right');
	}



});

</script>

{% endblock %}